<div class="d-flex justify-content-center mt-1">
  <h3>Welcome to Great Girikalan Magic Show </h3>
</div>

<div class="d-flex justify-content-center">
  <div class="card mt-3 col-3 ">
    <div class="card-header mb-3">Login</div>
    <div class="card-body">
      <form [formGroup]="login" style="margin-left: 20px;" (ngSubmit)="submit()">
        <div class="wave-group">
          <input required="" type="text" class="input" formControlName="username">
          <span class="bar"></span>
          <label class="label">
            <span class="label-char" style="--index: 0">U</span>
            <span class="label-char" style="--index: 0">s</span>
            <span class="label-char" style="--index: 0">e</span>
            <span class="label-char" style="--index: 0">r</span>
            <span class="label-char" style="--index: 0">N</span>
            <span class="label-char" style="--index: 1">a</span>
            <span class="label-char" style="--index: 2">m</span>
            <span class="label-char" style="--index: 3">e</span>
          </label>
        </div> <br>
        <div class="wave-group">
          <input required="" type="password" class="input" formControlName="password">
          <span class="bar"></span>
          <label class="label">
            <span class="label-char" style="--index: 0">P</span>
            <span class="label-char" style="--index: 0">a</span>
            <span class="label-char" style="--index: 0">s</span>
            <span class="label-char" style="--index: 0">s</span>
            <span class="label-char" style="--index: 0">w</span>
            <span class="label-char" style="--index: 1">o</span>
            <span class="label-char" style="--index: 2">r</span>
            <span class="label-char" style="--index: 3">d</span>
          </label>
        </div> <br>
        <div class="d-flex justify-content-center" style="margin-right: 39px;">
          <button [disabled]="login.invalid" class=" mr-2" type="submit">login</button>
          <button class="" (click)="signup()"> Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
<img src="  ./assets/svg/wave.svg" alt="">
