<div class="d-flex justify-content-center mt-1">
    <h3>Welcome to Great Girikalan Magic Show </h3>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card mt-3 col-3 ">
      <div class="card-header mb-3" style="font-weight: 700;">Sign up</div>
      <div class="card-body">
        <form  style="margin: 20px;" name="signup" novalidate #signupForm="ngForm" (ngSubmit)=" signUp(signupForm)">
          <div class="wave-group">
            <input required="" type="text" id="Name" class="input" name="userName" [(ngModel)]="newUser.name"  #userName="ngModel">
            <span class="bar"></span>
            <label class="label" for="Name">
              <span class="label-char" style="--index: 0">Name</span>
              <!-- <span class="label-char" style="--index: 1">a</span>
              <span class="label-char" style="--index: 2">m</span>
              <span class="label-char" style="--index: 3">e</span> -->
            </label>
          </div> <br>
          <div class="wave-group">
            <input required="" type="text" class="input" name="email" [(ngModel)]="newUser.email" #email="ngModel" id="email">
            <span class="bar"></span>
            <label class="label" for="email">
              <span class="label-char" style="--index: 0">Email</span>
              <!-- <span class="label-char" style="--index: 0">m</span>
              <span class="label-char" style="--index: 0">a</span>
              <span class="label-char" style="--index: 0">i</span>
              <span class="label-char" style="--index: 0">l</span> -->
            </label>
          </div> <br>
          <div class="wave-group">
            <input required="" type="password" class="input" name="password" [(ngModel)]="newUser.password" id="password">
            <span class="bar"></span>
            <label class="label" for="password">
              <span class="label-char" style="--index: 0">Password</span>
              <!-- <span class="label-char" style="--index: 0">a</span>
              <span class="label-char" style="--index: 0">s</span>
              <span class="label-char" style="--index: 0">s</span>
              <span class="label-char" style="--index: 1">w</span>
              <span class="label-char" style="--index: 2">o</span>
              <span class="label-char" style="--index: 3">r</span>
              <span class="label-char" style="--index: 3">d</span> -->
            </label>
          </div> <br>
          <div class="wave-group">
            <input required="" type="password" class="input" name="conPassword" [(ngModel)]="newUser.conPassword" id="conPassword">
            <span class="bar"></span>
            <label class="label" for="conPassword">
              <span class="label-char" style="--index: 0">Confirm password</span>
              <!-- <span class="label-char" style="--index: 0">o</span>
              <span class="label-char" style="--index: 0">n</span>
              <span class="label-char" style="--index: 0">f</span>
              <span class="label-char" style="--index: 0">i</span>
              <span class="label-char" style="--index: 1">r</span>
              <span class="label-char" style="--index: 2">m</span> &nbsp;
              <span class="label-char" style="--index: 0">P</span>
              <span class="label-char" style="--index: 0">a</span>
              <span class="label-char" style="--index: 0">s</span>
              <span class="label-char" style="--index: 0">s</span>
              <span class="label-char" style="--index: 1">w</span>
              <span class="label-char" style="--index: 2">o</span>
              <span class="label-char" style="--index: 3">r</span>
              <span class="label-char" style="--index: 3">d</span> -->
            </label>
          </div> <br>
          <div class="d-flex row justify-content-center"     style="margin-right: 19px; appearance: button;">
            <button class="signup mb-1" type="submit" [disabled]="!signupForm.valid"> Sign up</button> <br>
            <button class=" mr-2 btn mt-1" (click)="backToLogin()">Back to Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <img src="  ./assets/svg/wave.svg" alt="wave" class="img-fluid">
